<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.ac.umn.isihape">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Isihape"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".admin.ui.CRUDDoctors.EditDoctors"
            android:exported="true" />
        <activity
            android:name=".admin.ui.CRUDLab.EditLab"
            android:exported="true" />
        <activity
            android:name=".admin.AdminActivity"
            android:exported="true"
            android:label="@string/title_activity_admin" />
        <activity
            android:name=".admin.ui.qrcode.ScanQR"
            android:exported="true" />
        <activity
            android:name=".RegisterDokter"
            android:exported="true" />
        <activity
            android:name=".EditProfile"
            android:exported="true" />
        <activity
            android:name=".BuatJanji"
            android:exported="true" />
        <activity
            android:name=".RegisterPage2"
            android:exported="true" />
        <activity
            android:name=".admin.ui.CRUDLab.TambahLab"
            android:exported="true" />
        <activity
            android:name=".TambahJadwalKonsultasi"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".RegisterPage"
            android:exported="true" />
        <activity
            android:name=".LoginPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Isihape.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="id.ac.umn.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>